<h1>Meus Grupos</h1>

<% if current_user.groups_participating.count %>
  <ul>
    <% current_user.groups_participating.each do |group| %>
      <li><%= link_to group.name, group_path(group) %></li>
    <% end %>
  </ul>
<% end %>

<p><%= "Total de Grupos: #{current_user.groups_participating.count}" %></p>